.Rproj.user
*.Rproj
*.Rhistory
*.RData
*.RData
*.rds
*.DS_Store
RTAGS
!README.md
*.log

data/UKDA*

export/outReport/*
export/outReport/*/*

export/outForModel/*
export/outForModel/*/*

export/outForProfiles/*
export/outForProfiles/*/*

/* symlinks -- corresponding to available EHS data */
./data/UKDA*
